proxmox_endpoint   = "https://proxmox.example.invalid:8006/"
proxmox_insecure   = true
proxmox_node_name  = "pve-node-1"
proxmox_dns_domain = "internal.example.invalid"
proxmox_time_zone  = "UTC"
cloudflare_zone_id = "00000000000000000000000000000000"
nas_lab_ipv4_address = "198.51.100.15"

vm_default_username = "operator"
vm_data_storage_ipv4_address    = "10.0.10.202/24"
vm_default_ipv4_gateway         = "10.0.10.1"

vm_data_storage_mac_address    = "02:00:00:00:00:01"
vm_data_db_mac_address         = "02:00:00:00:00:02"
vm_k3s_prod_mac_address        = "02:00:00:00:00:03"
vm_games_minecraft_mac_address = "02:00:00:00:00:04"
