apiVersion: v1
kind: Namespace
metadata:
  name: gluetun
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gluetun
  namespace: gluetun
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gluetun
  template:
    metadata:
      labels:
        app: gluetun
    spec:
      containers:
        - name: gluetun
          image: qmcgaw/gluetun:v3.41.1
          imagePullPolicy: IfNotPresent
          securityContext:
            capabilities:
              add: ["NET_ADMIN"]
          env:
            - name: VPN_SERVICE_PROVIDER
              value: protonvpn
            - name: VPN_TYPE
              value: wireguard
            - name: UPDATER_PERIOD
              value: 12h
            - name: HTTPPROXY
              value: "on"
            - name: FIREWALL_INPUT_PORTS
              value: "8888"
            - name: DNS_ADDRESS
              value: "1.1.1.1"
            - name: WIREGUARD_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: gluetun-secret
                  key: WIREGUARD_PRIVATE_KEY
          ports:
            - name: http-proxy
              containerPort: 8888
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: gluetun-proxy
  namespace: gluetun
spec:
  type: LoadBalancer
  selector:
    app: gluetun
  ports:
    - name: http-proxy
      port: 8888
      targetPort: http-proxy
      protocol: TCP
