# Inspo: https://nerdiverset.no/k8s-native-sidecar-with-vpn/
apiVersion: v1
kind: Namespace
metadata:
  name: media

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission-vpn
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
    spec:
      volumes:
        # Required for Wireguard tunnel device in many setups
        - name: tun
          hostPath:
            path: /dev/net/tun
            type: CharDevice
        - name: transmission-config
          persistentVolumeClaim:
            claimName: transmission-config
        - name: synology-media
          persistentVolumeClaim:
            claimName: synology-media

      initContainers:
        - name: gluetun
          image: qmcgaw/gluetun:v3.41.0
          restartPolicy: Always
          securityContext:
            privileged: true
            capabilities:
              add: ["NET_ADMIN"]
          env:
            - name: VPN_SERVICE_PROVIDER
              value: "protonvpn"
            - name: VPN_TYPE
              value: "wireguard"
            - name: WIREGUARD_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: gluetun-secret
                  key: WIREGUARD_PRIVATE_KEY

            - name: UPDATER_PERIOD
              value: "24h"
            - name: PORT_FORWARD_ONLY
              value: "on"
            - name: VPN_PORT_FORWARDING
              value: "on"
            - name: DNS_ADDRESS
              value: "1.1.1.1"
          ports:
            - name: http-proxy
              containerPort: 8888
              protocol: TCP
        - name: ping
          image: busybox:1.37.0
          command:
            - sh
            - -c
            - |
              while ! ping -c 1 1.1.1.1; do
                echo "Ping failed, retrying in 5"
                sleep 5
              done
              echo "ping succesfull, exiting"
      containers:
        - name: curlpod
          image: curlimages/curl:8.18.0
          args:
            - /bin/sh
            - -c
            - while true; do curl -s 4.ident.me; echo; sleep 15; done
          imagePullPolicy: Always

        - name: transmission
          image: linuxserver/transmission:4.0.6
          env:
            - name: DOCKER_MODS
              value: "linuxserver/mods:transmission-floodui"
            - name: PUID
              value: "1001"
            - name: PGID
              value: "1001"
            - name: UMASK
              value: "022"
            - name: TZ
              value: "UTC"
          ports:
            - name: webui
              containerPort: 9091
              protocol: TCP
          volumeMounts:
            - name: transmission-config
              mountPath: /config
            - name: synology-media
              mountPath: /media
            - name: synology-media
              mountPath: /downloads
          readinessProbe:
            tcpSocket:
              port: 9091
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: transmission-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: nfs-storage

---
apiVersion: v1
kind: Service
metadata:
  name: transmission
  namespace: media
  labels:
    app: transmission
spec:
  selector:
    app: transmission
  ports:
    - name: http
      port: 9091
      targetPort: 9091
      protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: transmission
  namespace: media
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - transmission.home.${BASE_DOMAIN:=example.com}
      secretName: wildcard-home-tls
  rules:
    - host: transmission.home.${BASE_DOMAIN:=example.com}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: transmission
                port:
                  number: 9091
